<div class="container-fluid">

    <!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary text-center">USER LIST</h6>
</div>

<div class="card-body">
<!-- Outer Row -->
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
    <form class="user" method="POST" action="/itemInSuccess">
        
            <div id="toolbar">
                <!--<div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light btn-lg ">Excel Upload</button>
                    <div class="dropdown-container">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sliders-h"></i> Advance Search</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-list">
                                    <input id="search_input" type="search" placeholder="Search states" class="dropdown-search"/>
                                    <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

                <table
                    id="table"
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="true"
                    data-show-fullscreen="false"
                    data-show-columns="false"
                    data-show-columns-toggle-all="false"
                    data-detail-view="false"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-response-handler="responseHandler">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">User Name</th>
                        <th data-field="email" data-sortable="true">User Email</th>
                        <th data-field="contact" data-sortable="true">User Contact</th>
                        <th data-field="role" data-sortable="true">User Roles</th>
                        <th data-field="service" data-sortable="true">User Permission</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center">No Data</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
    </form>
</div>
</div>
</div>
</div>

<script>
    var $table = $('#table')
  var $remove = $('#remove')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }

  function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }

  function operateFormatter(value, row, index) {
    return [
        `<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
        </button>`
        ,
        `<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
        </div>`
    ].join('')
  }

  window.operateEvents = {
    'click .like': function (e, value, row, index) {
      alert('You click like action, row: ' + JSON.stringify(row))
    },
    'click .remove': function (e, value, row, index) {
      $table.bootstrapTable('remove', {
        field: 'id',
        values: [row.id]
      })
    }
  }

  // function totalTextFormatter(data) {
  //   return 'Total'
  // }

  // function totalNameFormatter(data) {
  //   return data.length
  // }

  // function totalPriceFormatter(data) {
  //   var field = this.field
  //   return '$' + data.map(function (row) {
  //     return +row[field].substring(1)
  //   }).reduce(function (sum, i) {
  //     return sum + i
  //   }, 0)
  // }

 var $table = $('#table')

  $(function() {
        let listing = '<%- JSON.stringify(listing) %>'
        //console.log(listing)
        var data = JSON.parse(listing) //testing required
        //console.log(data)
        for(i=0; i<data.length; i++){ //change the value to date
          if(data[i].role == "10"){
            data[i].role = "Admin"
          }
          
          if(data[i].role == "11"){
            data[i].role = "Manager"
          }

          if(data[i].role == "12"){
            data[i].role = "Finance"
          }

          if(data[i].role == "13"){
            data[i].role = "User"
          }

          /*
          Zalora = 100
          FMX = 101
          MOH = 200
          JPMC = 201
          Panaga = 202
          Local = 300
          Thermomix = 301
          Runner = 400
          personal = 401
          Misc = 500
          */
          for(j=0; j<data[i].service.length; j++){
            if(data[i].service[j] == "100"){
              data[i].service[j] = "Zalora"
            }

            if(data[i].service[j] == "101"){
              data[i].service[j] = "FMX"
            }

            if(data[i].service[j] == "200"){
              data[i].service[j] = "MOH"
            }

            if(data[i].service[j] == "201"){
              data[i].service[j] = "JPMC"
            }

            if(data[i].service[j] == "202"){
              data[i].service[j] = "Panaga"
            }

            if(data[i].service[j] == "300"){
              data[i].service[j] = "Local"
            }

            if(data[i].service[j] == "301"){
              data[i].service[j] = "Thermomix"
            }

            if(data[i].service[j] == "400"){
              data[i].service[j] = "Runner"
            }

            if(data[i].service[j] == "401"){
              data[i].service[j] = "Personal"
            }

            if(data[i].service[j] == "500"){
              data[i].service[j] = "Miscellaneous"
            }

            if(data[i].service[j] == "501"){
              data[i].service[j] = "In-Stock"
            }
          }
          console.log(data[i].service)
        }
        

        $table.bootstrapTable({data: data})
        $table.bootstrapTable('updateFormatText', 'formatShowingRows', 'Showing')
  })

// Events
$('.dropdown-container')
	.on('click', '.dropdown-button', function() {
        $(this).siblings('.dropdown-list').toggle();
	})
	.on('input', '.dropdown-search', function() {
    	var target = $(this);
        var dropdownList = target.closest('.dropdown-list');
    	var search = target.val().toLowerCase();
    
    	if (!search) {
            dropdownList.find('li').show();
            return false;
        }
    
    	dropdownList.find('li').each(function() {
        	var text = $(this).text().toLowerCase();
            var match = text.indexOf(search) > -1;
            $(this).toggle(match);
        });
	})
	.on('change', '[type="checkbox"]', function() {
        var container = $(this).closest('.dropdown-container');
        var numChecked = container. find('[type="checkbox"]:checked').length;
    	container.find('.quantity').text(numChecked || 'Any');
	});



$(document).ready(function () {

      var seachHtml = "";

      var checkBoxIdNoPart = 0;
      $("table.table-bordered thead tr th div.th-inner").each(function () {
        checkBoxIdNoPart++;
        seachHtml +=
          '<input class="checkBoxClass"  value=' + checkBoxIdNoPart + ' type="checkbox">' 
          
      });

      $('.dropdown-list').append(seachHtml);

      $("#search_input").keyup(function () {
        var searchText = $(this).val().toLowerCase();
        // Show only matching TR, hide rest of them
        $.each(checkBoxValArray, function (index, value) {
          $.each($('#table tbody td:nth-child(' + value + ')'), function () {
            if ($(this).text().toLowerCase().indexOf(searchText) != -1)
              $(this).parent().show();
            else
              $(this).parent().hide();
          });
        });
      });

      var checkBoxValArray = [];
      $('.checkBoxClass').click(function () {
        checkBoxValArray.push($(this).val());
      });
    });

// https://examples.bootstrap-table.com/index.html#methods/get-visible-hidden-columns.html#view-source

</script>