<div class="container">
    <div class="row ">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body m-2">

                    <h2 class="text-center">Item In / Item Entry</h2>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">General Entry</a>
                        <a href="#" class="list-group-item list-group-item-action">Instock Items</a>
                        <a href="#" class="list-group-item list-group-item-action">Miscellaneous Items</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Bulk Entry</a>
                        <a href="#" class="list-group-item list-group-item-action">Error</a>
                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">General Entry</a>
                        <a href="#" class="list-group-item list-group-item-action">Instock Items</a>
                        <a href="#" class="list-group-item list-group-item-action">Miscellaneous Items</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Bulk Entry</a>
                        <a href="#" class="list-group-item list-group-item-action">Error</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>