<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success-agent">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Agent Registration</h1>
                                    </div>
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="agentName" id="agentName" aria-describedby="nameHelp" placeholder="Enter Agent Name" required>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" name="agentType" id="agentType">
                                            <option value="FD">Full Time Dispatcher</option>
                                            <option value="IFR">Internal Freelancer</option>
                                            <option value="EFR">External Freelance</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="aid" id="aid" aria-describedby="aidHelp" placeholder="Enter Tookan Agent ID">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="contact" id="contact" aria-describedby="contactHelp" placeholder="Enter Contact Number">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Vehicle Details</h1>
                                    </div>
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="brand" id="brand" aria-describedby="brandHelp" placeholder="Enter Car Brand" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="model" id="model" aria-describedby="modelHelp" placeholder="Enter Car Model" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="registration" id="registration" aria-describedby="registrationHelp" placeholder="Enter Car Registration">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="color" id="color" aria-describedby="colorHelp" placeholder="Enter Car Colour">
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="formethod" id="formethod" value="agent_register">

                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn btn-primary">submit</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>