<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">User Registration</h1>
                                    </div>
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter Name" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="uid" id="uid" aria-describedby="uidHelp" placeholder="Enter User ID" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="Enter Password" required>
                                    </div>

                                    <div class="form-group">
                                        <a class="btn btn-primary" id="generate" onclick="genPassword()">Generate</a>
                                        <a class="btn btn-primary" id="copy" onclick="copyPassword()">Copy</a>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="contact" id="contact" aria-describedby="contactHelp" placeholder="Enter Contact Number">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="p-5">
                                    
                                    <div class="">
                                        <h1 class="h4 text-gray-900 mb-4">User Role</h1>
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" name="roles" id="roles">
                                            <option value="13">User</option>
                                            <option value="12">Finance</option>
                                            <option value="11">Managers</option>
                                            <option value="10">Admin</option>
                                        </select>
                                    </div>

                                    <div class="">
                                        <h1 class="h4 text-gray-900 mb-4">Services</h1>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="100" name="services" id="checkZalora">
                                        <label class="form-check-label" for="checkZalora">Zalora</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="101" name="services" id="checkFmx">
                                        <label class="form-check-label" for="checkFmx">FMX</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="200" name="services" id="checkMoh">
                                        <label class="form-check-label" for="checkMoh">MOH</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="201" name="services" id="checkJpmc">
                                        <label class="form-check-label" for="checkJpmc">JPMC</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="202" name="services" id="checkPanaga">
                                        <label class="form-check-label" for="checkPanaga">Panaga</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="300" name="services" id="checkLocal">
                                        <label class="form-check-label" for="checkLocal">Local Delivery</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="301" name="services" id="checkThermomix">
                                        <label class="form-check-label" for="checkThermomix">Thermomix</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="400" name="services" id="checkRunner">
                                        <label class="form-check-label" for="checkRunner">Runner Services</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="401" name="services" id="checkPersonal">
                                        <label class="form-check-label" for="checkPersonal">Personal Shopping</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="500" name="services" id="checkMisc">
                                        <label class="form-check-label" for="checkMisc">Miscellaneous</label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="501" name="services" id="checkMisc">
                                        <label class="form-check-label" for="checkMisc">In-Stock</label>
                                    </div>

                                </div>
                            </div>
                
                        </div>

                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="formethod" id="formethod" value="userRegistration">

                        <div class="row">
                            <button class="btn btn-primary btn-user btn-block">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>