<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">USER LIST</h6>
        </div>

        <div class="card-body">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <form class="user" method="POST" action="/inventory-out">
                        <p>Product ID: something</p>
                        <p>Product Entity: something</p>
                        <p>Product Brand: something</p>
                        <p>Product Name: something</p>
                        <p>Product Category: something</p>
                        <p>Product Quantity: something</p>
                        <p>Product Price: something</p>
                        <p>Product Sales Price: something</p>

                        <table>
                            <tr>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Flavour</th>
                                <th>Scent</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>