<style>
    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-bg: #212121;
  --nav-logo: #fff;
  --nav-link: #9e9e9e;
  --nav-link-hover: #212121;
  --nav-btn: #424242;
}

body {
  background-color: #424242;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--nav-logo);
  text-decoration: none;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-left: 1em;
}

.nav-list a {
  color: var(--nav-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: var(--nav-link-hover);
}

/* Navbar 3 */
.nav-3 {
  justify-content: space-between;
}

/* Contact button */
.nav-btn {
  background-color: var(--nav-btn);
  border: none;
  color: #252525;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
</style>

<div class="wrapper">
  <ul class="controls">
    <li><a href="#slide-1">1</a></li>
    <li><a href="#slide-2">2</a></li>
    <li><a href="#slide-3">3</a></li>
  </ul>
  <div class="container">
    <div class="content">
      <div id="slide-1" class="slide">1</div>
      <div id="slide-2" class="slide">2</div>
      <div id="slide-3" class="slide">3</div>
    </div>
  </div>
</div>

<div class="container-fluid my-5 d-flex justify-content-center font-italic toppie">
    <nav class="nav nav-3 mx-auto">
        <ul class="nav-list controls">
          
          <li>
            <a href="#moh">MOH Pharmacy</a>
          </li>
          <li>
            <a href="#jpmc">JPMC Pharmacy</a>
          </li>
          
          <li>
            <a href="#panaga">Panaga Pharmacy</a>
          </li>
          <li>
            <a href="#fmx" >FMX</a>
          </li>
          <li>
            <a href="#tmx">Thermomix</a>
          </li>
          <li>
            <a href="#grp">Go Rush Plus</a>
          </li>
          <li>
            <a href="#local">Local Delivery</a>
          </li>
          <li>
            <a href="#runner">Runner Service</a>
          </li>
          <li>
            <a href="#personal">Personal Shopping</a>
          </li>
        </ul>
    </nav>
</div>
