<div class="container">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="<%= code %>"><%= code %></div>
        <p class="lead text-gray-800 my-5"><%= response %> &#x1F62B; </p>
        <p class="text-gray-500 mb-0"><%= message %></p>
    </div>

</div>