<div class="container-fluid">

    <!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary text-center">MOH | INVENTORY LIST</h6>
</div>

<div class="card-body">
<!-- Outer Row -->
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
    <form class="user" method="POST" action="/itemInSuccess">
        
            <div id="toolbar">
                <!--<div class="d-flex justify-content-center">
                <button type="button" class="btn btn-light btn-lg ">Excel Upload</button>
                    <div class="dropdown-container">
                        <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sliders-h"></i> Advance Search</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-list">
                                    <input id="search_input" type="search" placeholder="Search states" class="dropdown-search"/>
                                    <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>

                <table
                    id="table"
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-detail-view="false"
                    data-show-export="true"
                    data-click-to-select="true"
                    data-detail-formatter="detailFormatter"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-show-footer="true"
                    data-response-handler="responseHandler">
                <thead>
                    <tr>
                        <th data-field="trackingNumber" data-sortable="true">Tracking Number</th>
                        <th data-field="contactName" data-sortable="true">Contact Name</th>
                        <th data-field="contactAddress" data-sortable="true">Contact Address</th>
                        <th data-field="contactNumber" data-sortable="true">Contact Number</th>
                        <th data-field="areaCode" data-sortable="true">Area Code</th>
                        <th data-field="paymentType" data-sortable="true" data-visible="false">Payment Method</th>
                        <th data-field="value" data-sortable="true">Item Value (BND)</th>
                        <th data-field="age" data-sortable="true">Item Age</th>
                        <th data-field="deliveryType" data-sortable="true" data-visible="false">Delivery Type</th>
                        <th data-field="currentStatus" data-sortable="true" data-visible="false">Item Status</th>
                        <th data-field="dateEntry" data-sortable="true" data-visible="false">Entry Date</th>
                        <th data-field="mohExpire" data-sortable="true" data-visible="false">Expire Date</th>
                        <th data-field="remark" data-sortable="true" data-visible="false">Remark</th>
                        <th data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center">No Data</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
    </form>
</div>
</div>
</div>
</div>
