<div class="container-fluid">

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <h1 class="h3 text-gray-800">Proof of Delivery</h1>
            
            <form class="user" method="POST" action="/itemInSuccess">
                <div class="table-responsive-xl">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Made By:</th>
                        <th scope="col" colspan="3"><input type="text" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value="POD"></th>
                        <th scope="col">Area of Delivery:</th>
                        <th scope="col" colspan="3">
                            <select class="form-control" id="area">
                                <option class="active">Area Selection</option>
                                <option>B1</option>
                                <option>B2</option>
                                <option>JT1</option>
                                <option>JT2</option>
                                <option>JT3</option>
                                <option>G1</option>
                                <option>G2</option>
                                <option>TUTONG</option>
                                <option>KUALA BELAIT</option>
                                <option>SERIA</option>
                                <option>LUMUT</option>
                                <option>TEMBURONG</option>
                            </select>
                        </th>
                        <th scope="col"></th>
                        </tr>
                        <tr>
                        <th scope="col">Dispatcher Name:</th>
                        <th scope="col" colspan="3">
                            <select name="agentTemp" id="agentTemp" style="border-radius: 5px;" class="form-control">
                                <option value="">Select one...</option>
                                <option value="994634">FD SOWDEQ</option>
                                <option value="997381">FD RAHIM</option>
                                <option value="1029275">FD AIMI</option>
                                <option value="1050947">FD HASBUL</option>
                                <option value="1071388">FD FADARUS</option>
                                <option value="1079095">FD HAMIDIN</option>
                                <option value="1113078">FD HANAFI</option>
                                <option value="1230427">FD FAEZ</option>
                                <option value="1254189">FD ZUL</option>
                                <option value="1130495">EFR HAJID</option>
                                <option value="1130524">EFR FAKHRIAH</option>
                                <option value="1268554">EFR GHAFUR</option>
                                <option value="1106491">EFR RASHID</option>
                                <option value="1105549">EFR NAZRY</option>
                                <option value="1124160">EFR HANIZAN</option>
                                <option value="996642">IFR ZIZAH</option>
                                <option value="977110">IFR NAN</option>
                                <option value="1268557">EFR KHAIRUL</option>
                                <option value="1311747">FD IQBAL</option>
                                <option value="1166672">FD AZRI</option>
                                <option value="1290342">IFR UMAR</option>
                                <option value="1276415">IFR ZUDIN</option>
                                <option value="1295953">EFR ROSMAWATI</option>
                                <option value="1104714">IFR AQEELAH</option>
                                <option value="1303254">FD HAFIZ</option>
                                <option value="1140555">EFR ASIKIN</option>
                                <option value="1359048">FD SAIFUDDIN</option>
                                <option value="1358816">FD AMIN</option>
                                <option value="1354406">EFR ISMADY</option>
                                <option value="1362520">EFR AMALIA</option>
                                <option value="1352241">EFR HAFIZ</option>
                                <option value="1358835">EFR MDAMY</option>
                                <option value="1354438">EFR ERMA</option>
                                <option value="1003154">IFR DYLAN</option>
                            </select>
                        </th>
                        <th scope="col">Date of Delivery:</th>
                        <th scope="col" colspan="3"><input type="date" class="form-control" name="deliveryDate" id="deliveryDate" aria-describedby="contactHelp"></th>
                        <th scope="col"></th>
                        </tr>
                        <tr>
                        <th scope="col">No.</th>
                        <th scope="col" class="text-center">T/N</th>
                        <th scope="col">Item with me</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Value</th>
                        <th scope="col">Success/Fail</th>
                        <th scope="col">Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td><input type="text" class="form-control" name="trackingNumber" id="trackingNumber" aria-describedby="trackingNumberHelp" placeholder="Enter Tracking Number"></td>
                            <td></td>
                            <td class="text-left">
                                <span id="name">Otto</span>
                                <input type="hidden" class="form-control" name="name" aria-describedby="nameHelp">
                            </td>
                            <td class="text-left">
                                <span id="address">@mdo</span>
                                <input type="hidden" class="form-control" name="address" aria-describedby="addressHelp">
                            </td>
                            <td class="text-left">
                                <span id="contact">XXX XXXX</span>
                                <input type="hidden" class="form-control" name="contact" aria-describedby="contactHelp">
                            </td>
                            <td class="text-left">
                                <span id="value">$ XXX</span>
                                <input type="hidden" class="form-control" name="value" aria-describedby="valueHelp">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td><input type="text" class="form-control" name="trackingNumber" id="trackingNumber" aria-describedby="trackingNumberHelp" placeholder="Enter Tracking Number"></td>
                            <td></td>
                            <td class="text-left">
                                <span id="name">Otto</span>
                                <input type="hidden" class="form-control" name="name" aria-describedby="nameHelp">
                            </td>
                            <td class="text-left">
                                <span id="address">@mdo</span>
                                <input type="hidden" class="form-control" name="address" aria-describedby="addressHelp">
                            </td>
                            <td class="text-left">
                                <span id="contact">XXX XXXX</span>
                                <input type="hidden" class="form-control" name="contact" aria-describedby="contactHelp">
                            </td>
                            <td class="text-left">
                                <span id="value">$ XXX</span>
                                <input type="hidden" class="form-control" name="value" aria-describedby="valueHelp">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                    </table>
                    <input type="hidden" class="form-control form-control-user" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value="POD">

                <a href="index.html" class="btn btn-primary btn-user btn-block">Submit</a>
                </div>
            </form>
        </div>
    </div>