<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Bruneian Made Finest Restock Order</h1>
   
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bruneian Made Finest</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4">Go Rush Express Restock Order</th>
                            <th scope="col" colspan="1">
                                <div class="text-center">
                                    <img src="/img/gr_logo.png" class="rounded" alt="go_rush.png">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <th><input type="date" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value=""></th>
                            <th>Location:</th>
                            <th><input type="text" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value=""></th>
                            <th scope="col" colspan="1">GR/BMF/RO:</th>
                        </tr>
                        <tr>
                            <th>Made by:</th>
                            <th><input type="text" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value=""></th>
                            <th>Agent Name:</th>
                            <th><input type="text" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value=""></th>
                            <th><input type="text" class="form-control" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value=""></th>
                        </tr>
                        <tr>
                            <th>NO.</th>
                            <th>Product Brand</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Product Quantity</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="1."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>2.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="2."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>3.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="3."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>4.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="4."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>5.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="5."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>6.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="6."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>7.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="7."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>8.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="8."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>9.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="9."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                        <tr>
                            <td>10.<input type="hidden" class="form-control" name="numbering" id="productBrand" aria-describedby="contactHelp" value="10."></td>
                            <td><input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="contactHelp" placeholder="Product Brand" value=""></td>
                            <td><input type="text" class="form-control" name="productName" id="productName" aria-describedby="contactHelp" placeholder="Product Name" value=""></td>
                            <td><input type="text" class="form-control" name="productType" id="productType" aria-describedby="contactHelp" placeholder="Product Type" value=""></td>
                            <td><input type="text" class="form-control" name="productQuantity" id="productQuantity" aria-describedby="contactHelp" placeholder="Product Quantity" value=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary">submit</button>
        </div>
    </div>
</div>



