<div class="container">

    <!-- 404 Error Text -->
    <div class="text-center">
        <h1 class="error mx-auto">Session Timeout</h1>
        <p class="lead text-gray-800 my-5">Your session has timeout, please login again if you wish to access the WMS again.</p>
        <a href="<%= href %>">Login</a>
    </div>

</div>