<title>Success</title>
<div class="container my-5">

    <div class="text-center">
        <h1 class="text-success font-weight-bold mx-auto"><%= code %></h1>
        <p class="lead text-gray-800 my-5"><%= response %> &#128515; </p>
        <p class="text-gray-500 mb-0"><%= message %></p>
    </div>

</div>
