<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success-in-moh">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Item Details</h1>
                                    </div>

                                    <div class="form-group" id="trackingNumberArea">
                                        <label for="trackingNumber">Tracking Number</label>
                                        <input type="text" class="form-control text-center" name="trackingNumber" id="trackingNumber" aria-describedby="trackingNumberHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="entity">Item Entity</label>
                                        <select class="form-control" name="entity" id="entity" required>
                                            <option></option>
                                            <option value="GGL">Globex</option>
                                            <option value="DCN">DC-Nusantara</option>
                                            <option value="BVC">Blu-Vortex</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="value">Item Value</label>
                                        <input type="text" class="form-control" name="value" id="value" aria-describedby="valueHelp" >
                                    </div>

                                    <div class="form-group">
                                        <label for="handler">Item Handler</label>
                                        <input type="text" class="form-control" name="handler" id="handler" aria-describedby="handlerHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="remark">Item Remark</label>
                                        <input type="text" class="form-control" name="remark" id="remark" aria-describedby="handlerHelp">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="zone">Item Storing Zone</label>
                                        <input type="text" class="form-control" name="zone" id="zone" aria-describedby="zoneHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Item Storing Shelf Code</label>
                                        <input type="text" class="form-control" name="shelfCode" id="shelfCode" aria-describedby="shelfCodeHelp">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Customer Details</h1>
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Name</label>
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Contact</label>
                                        <input type="text" class="form-control" name="contact" id="contact" aria-describedby="unitHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Address (House / Unit Number)</label>
                                        <input type="text" class="form-control" name="unit" id="unit" aria-describedby="unitHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Address (Jalan)</label>
                                        <input type="text" class="form-control" name="jalan" id="jalan" aria-describedby="jalanHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Address (Kampong)</label>
                                        <input type="text" class="form-control" name="kampong" id="kampong" aria-describedby="kampongHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Address (Simpang)</label>
                                        <input type="text" class="form-control" name="simpang" id="simpang" aria-describedby="simpangHelp">
                                    </div>

                                    <div class="form-group">
                                        <label for="shelfCode">Customer Address (Postal)</label>
                                        <input type="text" class="form-control" name="postal" id="postal" aria-describedby="postalHelp">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Additional Information-->
                        
                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="service" id="service" value="misc">

                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn btn-primary">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>