<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success-instock">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">New Inventory</h1>
                                    </div>

                                    <div class="form-group">
                                        <label for="productBrand">Product Brand</label>
                                        <input type="text" class="form-control" name="productBrand" id="productBrand" aria-describedby="productBrand">
                                    </div>

                                    <div class="form-group">
                                        <label for="entity">Product Entity</label>
                                        <select class="form-control" name="productEntity" id="entity">
                                            <option value=""></option>
                                            <option value="GBS">Go Belistore</option>
                                            <option value="BMF">Bruneian Made Finest</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="productName">Product Name</label>
                                        <input type="text" class="form-control" name="productName" id="productName" aria-describedby="productName">
                                    </div>

                                    <div class="form-group">
                                        <label for="productCategory">Product Category</label>
                                        <select class="form-control" name="productCategory" id="productCategory">
                                            <option value="food">Food & Beverages</option>
                                            <option value="perfume">Perfume</option>
                                            <option value="kids">Kids Clothing</option>
                                            <option value="male">Male Clothing</option>
                                            <option value="female">Female Clothing</option>
                                            <option value="shoe">Shoes</option>
                                            <option value="stationary">Stationary</option>
                                            <option value="sports">Sports Equipments</option>
                                            <option value="apparel">Apparel</option>
                                            <option value="home">Home & Living</option>
                                            <option value="cosmetics">Beauty & Cosmetics</option>
                                            <option value="others">Others</option>
                                        </select>
                                    </div>
                                      
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="productOther" id="productOther" aria-describedby="productOther" placeholder="Enter Product Other">
                                    </div>

                                    <div class="form-group">
                                        <label for="productQuantity">Product Quantity</label>
                                        <input type="text" class="form-control" name="productQuantity" id="productQuantity"  aria-describedby="productQuantity" placeholder="Enter Product Quantity">
                                        <span class="qtyWarn"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="productPrice">Product Price</label>
                                        <input type="text" class="form-control" name="productPrice" id="productPrice" aria-describedby="productPrice" placeholder="Enter Product Price">
                                    </div>

                                    <div class="form-group">
                                        <label for="productSalePrice">Product Sale Price</label>
                                        <input type="text" class="form-control" name="productSalePrice" id="productSalePrice" aria-describedby="productSalePrice" placeholder="Enter Product Sale Price">
                                    </div>

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Product Variety</h1>
                                    </div>

                                    <table class="table">
                                        <thead>
                                            <th scope="col" class="text-center">Color</th>
                                            <th scope="col" class="text-center">Size</th>
                                            <th scope="col" class="text-center">Quantity</th>
                                        </thead>
                                        <tbody id="newRow">
                                            <tr id="row">
                                                <td>
                                                    <input type="text" class="form-control" name="productColor" id="productColor" placeholder="Enter Product Color">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="productSize" id="productSize" placeholder="Enter Product Size">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control quantity" name="quantity" id="quantity" placeholder="Enter Quantity" onkeyup="testcal()">
                                                    <span class="qtyWarn"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-primary m-3" onclick="addTextInput()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                        </a>
                                        <a class="btn btn-danger m-3" onclick="removeRow()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                
                        </div>

                        <!--Additional Information-->
                        
                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value="NEWINVENTORY">

                        <div class="row">
                            <button class="btn btn-primary btn-user btn-block">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>