<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <% if(message.success){ %>
                        <div class="alert alert-danger alert-dismissible" role="alert" auto-close="6000">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                <path
                                    d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                            </svg>
                            <%= message.success %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span>
                        </div>
                        <% } %>
                        <% if(message.error){ %>
                            <div class="alert alert-danger alert-dismissible" role="alert" auto-close="6000">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                    <path
                                        d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                </svg>
                                <%= message.error %>
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                            </div>
                            <% } %>
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success-entry-personal">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Item In</h1>
                                    </div>

                                    <div class="form-group" id="trackingNumberArea">
                                        <input type="text" class="form-control text-center" name="trackingNumber"
                                            id="trackingNumber" aria-describedby="trackingNumberHelp"
                                            placeholder="Enter Tracking Number"
                                            onkeyup="checkTrackingNum(this, 'trackingNum')" maxlength="9">
                                    </div>
                                    <div class="form-group" id="packageQuantity">
                                        <label class="text-center" for="packageQuantity">No of Packages</label>
                                        <input type="text" class="form-control text-center" name="packageQuantity"
                                            id="packageQuantity" aria-describedby="packageQuantityHelp"
                                            placeholder="" value="1">
                                    </div>

                                    <div class="row" id="alertBody">
                                        <p class="text-primary text-center fw-bold" id="loadingTN">Please wait...</p>
                                        <p class="text-danger text-center fw-bold" id="wronginput">Wrong Tracking
                                            Number, please
                                            try again</p>
                                    </div>

                                    <div class="form-group">
                                        <p class="text-center">Shelf Code:</p>
                                        <p class="text-center fw-bold" id="shelfDisplay">-</p>
                                        <input type="hidden" class="form-control form-control-user" name="shelfCode"
                                            id="shelfCode" aria-describedby="areaCodeHelp">
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Parcel Details</h1>
                                    </div>

                                    <div class="form-group">
                                        <h5 class="text-center" id="customerName">Customer Name</h5>
                                        <p class="text-center fw-bold" id="nameDisplay">-</p>
                                        <input type="hidden" class="form-control form-control-user" name="name"
                                            id="name" aria-describedby="nameHelp">
                                    </div>

                                    <div class="form-group">
                                        <h5 class="text-center" id="customerAddress">Customer Address</h5>
                                        <p class="text-center fw-bold" id="addressDisplay">-</p>
                                        <input type="hidden" class="form-control form-control-user" name="address"
                                            id="address" aria-describedby="addressrHelp">
                                    </div>

                                    <div class="form-group">
                                        <h5 class="text-center" id="customerContact">Customer contact</h5>
                                        <p class="text-center fw-bold" id="contactDisplay">-</p>
                                        <input type="hidden" class="form-control form-control-user" name="contact"
                                            id="contact" aria-describedby="contactHelp">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Additional Information-->
                        <input type="hidden" class="form-control form-control-user" name="uid" id="uid"
                            value="<%= user.uid %>"> <!-- User ID -->
                        <input type="hidden" class="form-control form-control-user" name="username" id="username"
                            value="<%= user.name %>"> <!-- username -->
                        <input type="hidden" class="form-control form-control-user" name="serviceTag" id="serviceTag"
                            value="PERSONAL">
                        <input type="hidden" class="form-control form-control-user" name="deliveryType"
                            id="deliveryType" value="">
                        <input type="hidden" class="form-control form-control-user" name="paymentType" id="paymentType"
                            value="">
                        <input type="hidden" class="form-control form-control-user" name="value" id="value" value="">
                        <input type="hidden" class="form-control form-control-user" name="note" id="note" value="">
                        <input type="hidden" class="form-control form-control-user" name="remark" id="remark" value="">
                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="service" id="service"
                            value="PERSONAL">

                        <div class="row">
                            <a id="submitBtn" class="btn btn-primary btn-user btn-block">Submit</a>
                            <button id="submitBtnfinal" class="btn btn-primary btn-block">Submit Final</button>
                            <p class="text-primary text-center fw-bold" id="loadingSubmit">Please wait...</p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function delaySubmit() {
            document.getElementById('submitBtn').click();
        }

        function checkTrackingNum(field, autoMove) {
            if (field.value.length >= field.maxLength) {
                $('#submitBtnfinal').attr('disabled', true);
                var trackingNumTemp = document.getElementById("trackingNumber").value.trim()
                document.getElementById("trackingNumber").value = trackingNumTemp;
                document.getElementById("trackingNumber").readOnly = true;

                $("#wronginput").hide();
                $("#loadingTN").fadeIn();

                var request = new XMLHttpRequest();
                request.open('POST', 'https://api.tookanapp.com/v2/get_job_details');
                request.setRequestHeader('Content-Type', 'application/json');

                request.onreadystatechange = function () {
                    if (this.readyState === 4) {
                        console.log('Status:', this.status);
                        console.log('Headers:', this.getAllResponseHeaders());
                        console.log('Body:', this.responseText);

                        responsetn = this.responseText;
                        json_responsetn = JSON.parse(responsetn);

                        if (json_responsetn.status != 404) {
                            document.getElementById("name").value = json_responsetn.data[0].customer_username;
                            document.getElementById("nameDisplay").innerHTML = json_responsetn.data[0].customer_username;

                            document.getElementById("shelfCode").value = json_responsetn.data[0].customer_username.charAt(0).toUpperCase();
                            document.getElementById("shelfDisplay").innerHTML = json_responsetn.data[0].customer_username.charAt(0).toUpperCase();

                            document.getElementById("address").value = json_responsetn.data[0].job_address;
                            document.getElementById("addressDisplay").innerHTML = json_responsetn.data[0].job_address;

                            document.getElementById("contact").value = json_responsetn.data[0].customer_phone;
                            document.getElementById("contactDisplay").innerHTML = json_responsetn.data[0].customer_phone;

                            /* document.getElementById("deliveryType").value = json_responsetn.data[0].custom_field[9].data;

                            document.getElementById("paymentType").value = json_responsetn.data[0].custom_field[11].data;

                            document.getElementById("value").value = json_responsetn.data[0].custom_field[15].data; */

                            for (let i = 0; i < json_responsetn.data[0].task_history.length; i++) {
                                if (json_responsetn.data[0].task_history[i].type == "text_added") {
                                    document.getElementById("note").value = json_responsetn.data[0].task_history[i].description;
                                }
                            }

                            /* document.getElementById("remark").value = json_responsetn.data[0].custom_field[10].data; */

                            document.getElementById("trackingNumber").readOnly = true;

                            $("#loadingTN").hide();
                            $("#submitBtn").fadeIn();

                            /* setTimeout(delaySubmit, 5000); */
                        }

                        if (json_responsetn.status == 404) {
                            document.getElementById("trackingNumber").readOnly = false;
                            document.getElementById("trackingNumber").value = "";
                            $("#loadingTN").hide();
                            $("#wronginput").fadeIn();
                            document.getElementById("trackingNumber").focus();
                        }
                    }
                };

                var body = {
                    'api_key': '51676580f24b091114132d38111925401ee4c2f328d978375e1f03',
                    'job_ids': [trackingNumTemp],
                    'include_task_history': 1
                };
                request.send(JSON.stringify(body));
            }
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            $("#submitBtn").hide();
            $("#submitBtnfinal").hide();
            $("#loadingTN").hide();
            $("#wronginput").hide();
            $("#loadingSubmit").hide();

            document.getElementById("submitBtn").addEventListener("click", submitForm);

            document.getElementById("trackingNumber").focus();

            function submitForm() {
                $("#submitBtn").hide();
                $("#loadingSubmit").fadeIn();

                var request = new XMLHttpRequest();

                request.open('POST', 'https://api.tookanapp.com/v2/assign_task');

                request.setRequestHeader('Content-Type', 'application/json');

                request.onreadystatechange = function () {
                    if (this.readyState === 4) {
                        console.log('Status:', this.status);
                        console.log('Headers:', this.getAllResponseHeaders());
                        console.log('Body:', this.responseText);

                        $('#submitBtnfinal').attr('disabled', false);

                        document.getElementById('submitBtnfinal').click();
                    }
                };

                var body = {
                    'api_key': '51676580f24b091114132d38111925401ee4c2f328d978375e1f03',
                    'job_id': document.getElementById("trackingNumber").value,
                    'fleet_id': '1479219',
                    'team_id': '921691',
                    'job_status': '7'
                };

                request.send(JSON.stringify(body));
            }
        });
    </script>
</div>