<div class="container">

    <h1 class="text-center">WELLOUS ITEM IN</h1>

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/success-entry-wellous">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Wellous Inventory</h1>
                                    </div>

                                    <div class="form-group">
                                        <label for="batch">Product Batch</label>
                                        <input type="text" class="form-control" name="batch" id="batch" aria-describedby="batch" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="productBrand">Product Brand</label>
                                        <select name="productBrand" id="productBrand" style="border-radius: 5px;" class="form-control" onChange="dynamic()">
                                            <option value></option>
                                            <option value="AEMIS">AEMIS</option>
                                            <option value="BIO-SERIES">Bio Series</option>
                                            <option value="BOLDBLACK">Boldblack</option>
                                            <option value="DELITE">Delite</option>
                                            <option value="FEMOIRE">Femoire</option>
                                            <option value="IBLING">iBling</option>
                                            <option value="KIDAONE">KidAone</option>
                                            <option value="IMMORITY">Immority</option>
                                            <option value="TIGROX">Tigrox</option>
                                            <option value="ZENSO">Zenso</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="productModel">Product Model</label>
                                        <select name="productModel" id="productModel" style="border-radius: 5px;" class="form-control">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="productName">Product Name</label>
                                        <input type="text" class="form-control" name="productName" id="productName" aria-describedby="productName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="productQuantity">Product Quantity</label>
                                        <input type="text" class="form-control" name="productQuantity" id="productQuantity"  aria-describedby="productQuantity" required>
                                        <span id="qtyWarn"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="productPrice">Product Price</label>
                                        <input type="text" class="form-control" name="productPrice" id="productPrice" aria-describedby="productPrice" required>
                                    </div>

                                </div>
                            </div>                
                        </div>

                        <!--Additional Information-->
                        <input type="hidden" class="form-control form-control-user" name="uid" id="uid" value="<%= user.uid %>">
                        <input type="hidden" class="form-control form-control-user" name="name" id="name" value="<%= user.name %>">
                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="formmethod" id="formmethod" value="wellous">

                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn btn-primary">submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


