<div class="container">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="011"><%= title %></div>
        <p class="lead text-gray-800 my-5"><%= response %> &#x1F62B; </p>
        <p class="text-gray-500 mb-0"><%= message %></p>
        <a href="/">&larr; Back to Message</a>
    </div>

</div>