<div class="container my-5" style="background: pink">
    <div class="row p-5">
      <div class="col-6">
        <p>Logo of Company</p>
        <p><b>GO RUSH EXPRESS</b> <br> Unit 9, Block A, <br> Simpang 188, Jalan Pengiran Babu Raja, <br> Kampong Kiarong, Negara Brunei Darussalam, <br> Bandar Seri Begawan, BE1318. </p>
        <p><b>Billed To:</b></p>
        <p>Customer Name & Address </p>
      </div>
      
      <div class="col-6">
        <p>Date</p>
        <p>Serial No: </p>
        <p>Ref No: </p>
        <p>Payment Method:</p>
        <p><b>CASH</b></p>
      </div>
    </div> 
    
    <div class="row p-5">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Invoice Date</th>
          <th>Description</th>
          <th>Amount (BND)</th>
        </thead>
        <tbody>
          <td>1</td>
          <td>29/9/2022</td>
          <td>Pharmacy Service (MOH)</td>
          <td>3.00</td>
        </tbody>
      </table>
    </div>
    
    <div class="row p-5">
      <div class="col-6">
        <p>Remarks: </p>
      </div>
      
      <div class="col-6">
        <p>Balance Due: $0.00</p>
      </div>
    </div>
   
  </div>





  <div class="container w-25 my-5" style="background: pink">
    <div class="row p-5">
      <div class="col-12">
        <p>Logo of Company</p>
        <p><b>GO RUSH EXPRESS</b> <br> Unit 9, Block A, <br> Simpang 188, Jalan Pengiran Babu Raja, <br> Kampong Kiarong, Negara Brunei Darussalam, <br> Bandar Seri Begawan, BE1318. </p>
      </div>
    </div> 
  
  <div class="row px-5">
    <div class="col-6">
        <p>Date</p>
        <p>Serial No: </p>
      </div>
    <div class="col-6">
        <p>Ref No: </p>
        <p>Payment Method: <br> <b>CASH</b> </p>
      </div>
  </div>
  
  <div class="row px-5">
     <div class="col-12">
        <p><b>Billed To:</b></p>
        <p>Customer Name & Address </p>
      </div>
  </div>
    
    <div class="row p-5">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Invoice Date</th>
          <th>Description</th>
          <th>Amount (BND)</th>
        </thead>
        <tbody>
          <td>1</td>
          <td>29/9/2022</td>
          <td>Pharmacy Service (MOH)</td>
          <td>3.00</td>
        </tbody>
      </table>
    </div>
    
    <div class="row p-5">
      <div class="col-6">
        <p>Remarks: </p>
      </div>
      
      <div class="col-6">
        <p>Balance Due: $0.00</p>
      </div>
    </div>
   
  </div>