<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/exportlist">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Dates</h1>
                                    </div>
                                
                                    <div class="form-group" id="startdate">
                                        <label for="startdate">Start Date</label>
                                        <input type="date" class="form-control" name="startdate" id="startdate" aria-describedby="startdateHelp" placeholder="Enter Start Date">
                                    </div>

                                    <div class="form-group" id="enddate">
                                        <label for="enddate">End Date</label>
                                        <input type="date" class="form-control" name="enddate" id="enddate" aria-describedby="enddateHelp" placeholder="Enter End Date">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Additional Details</h1>
                                    </div>

                                    <div class="form-group" id="service">
                                        <label for="service">Services Selection</label>
                                        <select class="form-control" name="service" id="service">
                                            <option class="active" value="*">All</option>
                                            <option value="moh">MOH</option>
                                            <option value="jpmc">JPMC</option>
                                            <option value="panaga">Panaga</option>
                                            <option value="local">Local Delivery</option>
                                            <option value="tmx">Thermomix</option>
                                            <option value="fmx">FMX</option>
                                            <option value="grp">GRP</option>
                                            <option value="runner">Runner Services</option>
                                            <option value="personal">Personal Shopping</option>
                                            <option value="zalora">Zalora</option>
                                        </select>
                                    </div>

                                    <div class="form-group" id="currentStatus">
                                        <label for="currentStatus">Status Selection</label>
                                        <select class="form-control" name="currentStatus" id="currentStatus">
                                            <option class="active" value="*">All</option>
                                            <option value="A1">In Warehouse</option>
                                            <option value="A2">In Medicine Room</option>
                                            <option value="A3">Re-Entry</option>
                                            <option value="B">Schedule for Delivery</option>
                                            <option value="C">Delivery In Progress</option>
                                            <option value="D1">Completed</option>
                                            <option value="D2">Self-Collection</option>
                                            <option value="D3">Failed Delivery</option>
                                            <option value="D4">Cancelled Delivery</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                
                        </div>

                        <!-- End of Information -->

                        <input type="hidden" class="form-control form-control-user" name="formmethod" id="formmethod" value="EXPORT">

                        <div class="d-flex justify-content-center mb-5">
                            <button class="btn btn-primary">submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>